* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  /*для параграфов и тд*/
  font-family: "Playfair Display", serif;
  /*для заголовков*/
  background-color: #273947;
  color: #fff;
}
::-webkit-scrollbar {
  background-color: #273947;
}
::-webkit-scrollbar-thumb {
  background-color: #516c81;
}

.conteiner {
  padding: 0 200px;
}
/* hearer start*/
header {
  width: 100%;
  height: 100px;
  background: #516c81;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 112px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  list-style: none;
}

.menu-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.menu-link:visited {
  color: darkgray;
}
button {
  display: flex;
  height: 45px;
  padding: 14px 30px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.header__btn:active {
  background-color: #fff;
}
/* hearer end*/

/*welcom-section start */
.welcom-section {
  width: 100%;
  height: 800px;
  background-image: url(img/Rectangle\ 2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.welcom__p {
  position: absolute;
  margin-top: 75px;
  right: 252px;
  width: 448px;
  text-transform: uppercase;
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.welcom__block {
  position: absolute;
  top: 211px;
  left: calc(100% / 3);
  width: 378px;
  height: 508px;
}
.welcom__orange {
  position: relative;
}
h1 {
  position: absolute;
  left: -62px;
  top: 12px;
  width: 550px;
  text-align: right;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.orange-p {
  position: absolute;
  top: 182px;
  left: 68px;
  width: 417px;
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.btn__arrow {
  position: absolute;
  top: 322px;
  left: 256px;
  font-size: 16px;
}
.btn__arrow:active {
  background-color: #fff;
}
.welcom__text {
  position: absolute;
  top: 469px;
  left: 200px;
  width: 309px;
  height: 203px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
.band {
  width: 309px;
  height: 10px;
  background: #fff;
}
.text__small-p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}
/*welcom-section end */

/* section-description start*/
.section-description {
  height: 890px;
}
.description__h{
  margin-top: 50px;
font-family: Playfair Display;
font-size: 48px;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.description__flex {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.description__p{
  width: 398px;
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 150%;
}
.description__img {
  position: relative;
  z-index: 2;
}
.description__img-border{
  position: absolute;
  top: 1070px;
  right: 180px;
  width: 550px;
height: 521px;
background-color:#F07F18;
}
/* section-description start*/

/* section__pros start*/
.section__pros {
  height: 550px;
}
.pros-h {
font-family: Playfair Display;
font-size: 36px;
font-weight: 700;
line-height: 150%;
margin-bottom: 60px;
}
.block__pros-flex {
  width: 1216px;
  height: 324px;
  display: flex;
  flex-wrap: wrap;
}
.block__pros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo {
  margin-top: -20px;
}
h3{
  width: 292px;
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 150%;
}
.flex-text__p {
  width: 242px;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 150%;
}
/* section__pros end*/

/* section start*/
.section{
  height: 700px;
}
.section-span {
  left: 180px;
  top: 2445px;
}

/*section__work start*/
.section__work {
  height: 400px;
}
.work-h {
  margin-bottom: 60px;
}
.work-block-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.logo-small {
  margin-bottom: 20px;
}
.text-flex-p {
  margin-top: 20px;
  width: 218px;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 150%;
margin-bottom: 30px;
}
span{
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
font-family: Playfair Display;
font-size: 36px;
font-weight: 700;
line-height: 150%;
}
span-m{
  margin-top: 30px;
}

/*section__work end*/
