* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  /*для параграфов и тд*/
  font-family: "Playfair Display", serif;
  /*для заголовков*/
  background-color: #273947;
  color: #fff;
}
::-webkit-scrollbar {
  background-color: #273947;
}
::-webkit-scrollbar-thumb {
  background-color: #516c81;
}

.conteiner {
  padding: 0 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* hearer start*/
header {
  width: 100%;
  height: 100px;
  background: #516c81;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 112px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  list-style: none;
}

.menu-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.menu-link:visited {
  color: darkgray;
}
button {
  display: flex;
  height: 45px;
  padding: 14px 30px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.block-open {
  display: none;
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/Rectangle\ 2.png);
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-block{
  width: 560px;
  height: 283px;
  background: #F9F8F4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grin{
  width: 560px;
height: 120px;
background: #33BA87;
display: flex;
justify-content: center;
align-items: center;
}
h4{
  color:#273947;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.open-p {
  width: 494px;
  color: #273947;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 150%;
}
.open-btn-close{
    top: 210px;
    left: 145px;
    font-size: 16px;
  z-index: 999;
  position: absolute;
  border: 1px solid #F07F18;
  color: #F07F18;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;;
}
.header__btn:active {
  background-color: #fff;
}
/* hearer end*/

/*welcom-section start */
.welcom-section {
  width: 100%;
  height: 800px;
  background-image: url(img/Rectangle\ 2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.welcom__p {
  position: absolute;
  margin-top: 75px;
  right: 252px;
  width: 448px;
  text-transform: uppercase;
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.welcom__block {
  position: absolute;
  top: 211px;
  left: calc(100% / 3);
  width: 378px;
  height: 508px;
}
.welcom__orange {
  position: relative;
}
h1 {
  position: absolute;
  left: -62px;
  top: 12px;
  width: 550px;
  text-align: right;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.orange-p {
  position: absolute;
  top: 182px;
  left: 68px;
  width: 417px;
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.btn__arrow {
  position: absolute;
  top: 322px;
  left: 256px;
  font-size: 16px;
}
.btn__arrow:active {
  background-color: #fff;
}
.welcom__text {
  position: absolute;
  top: 469px;
  left: 200px;
  width: 309px;
  height: 203px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
.band {
  width: 309px;
  height: 10px;
  background: #fff;
}
.text__small-p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}
/*welcom-section end */

/* section-description start*/
.section-description {
  height: 890px;
}
.description__h {
  margin-top: 50px;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.description__flex {
  gap: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.description__p {
  width: 398px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.description__img {
  position: relative;
  z-index: 2;
}

/* section-description start*/

/* section__pros start*/
.section__pros {
  height: 550px;
}
.pros-h {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 60px;
}
.block__pros-flex {
  width: 1216px;
  height: 324px;
  display: flex;
  flex-wrap: wrap;
}
.block__pros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo {
  margin-top: -20px;
}
h3 {
  width: 292px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.flex-text__p {
  width: 242px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
/* section__pros end*/

/* section start*/
.section {
  height: 700px;
}
.section-span {
  left: 180px;
  top: 2445px;
}

/*section__work start*/
.section__work {
  height: 580px;
}
.work-h {
  margin-bottom: 60px;
}
.work-block-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.logo-small {
  margin-bottom: 20px;
}
.text-flex-p {
  margin-top: 20px;
  width: 218px;
  height: 100px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 30px;
}
span {
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}

/*section__work end*/

/*section__projects start*/
.section__projects {
  height: 1500px;
}
.projects__h {
  margin-bottom: 70px;
}
.projects__block-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.project__img {
  position: relative;
  z-index: 2;
}
.border {
  margin-top: 10px;
  margin-left: -270px;
  position: absolute;
  width: 279px;
  height: 250px;
  background-color: #f07f18;
}
.project__name {
  margin-top: 30px;
  width: 289px;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.projects__btn {
  left: 650px;
  position: absolute;
  top: 4930px;
}
/*section__projects end*/

/*section__catalog start*/
.section__catalog {
  height: 900px;
}
.catalog__h {
  left: 0;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.catalog__block-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.catalog__block {
  display: inline-flex;
  padding: 30px 25.5px 45px 25.5px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  background: rgba(15, 30, 44, 0.7);
}
.catalog__p {
  width: 219px;
  height: 54px;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
/*section__catalog end*/

/*section__white start*/
.section__white {
  width: 100%;
  height: 644px;
  background: #fff;
}
.white__text-flex {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.white__h {
  color: #273947;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}
.white__p {
  width: 307px;
  color: #273947;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.white__blocks-flex {
  padding: 0 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
/*section__white end*/

/*section-connection start*/
.section-connection {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.connection__block-text-form {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.connection__h {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}
.connection__name,
.connection__nomber {
  width: 309px;
  height: 60px;
  border: 1px solid #fff;
  background-color: transparent;
}
.connection__name::placeholder {
  padding-left: 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.connection__nomber::placeholder {
  padding-left: 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.connection__name[type="text"] {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.connection__nomber[type="number"] {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.connection-text {
  width: 309px;
  height: 152px;
  border: 1px solid #fff;
  background-color: transparent;
}
.connection-text::placeholder {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.connection-text[type="text"] {
  padding: 10px 0 0 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.connection__flex-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.connection_btn {
  position: absolute;
  top: 350px;
  left: 0;
}
/*section-connection end*/

/*section-footer start*/
.section-footer {
  width: 100%;
  height: 545px;
  background: #516c81;
}
.footer__block-flex {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-p {
  width: 288px;
  color: #e6e6e6;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.footer__flex-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.footer-logo-site {
  margin-top: 100px;
  position: absolute;
  left: 43%;
}
.footer-catallog,
.contacts-p {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.fooer-catallog-p {
  width: 308px;
  color: #e6e6e6;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 250%;
}
.footer__contacts {
  position: relative;
}
.contacts-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
}

.footer__tell {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.tell {
  color: #e6e6e6;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.work {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.footer__adres {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.adres-p {
  color: #e6e6e6;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.footer-wats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.footer-wats-p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.footer_btn {
  left: 0;
  position: absolute;
  top: 240px;
}

/*section-footer end*/
